<!DOCTYPE html>
<html>

<head>
  {{!-- Required Meta Tags --}}
  <meta charset="utf-8">

  {{!-- Bootstrap CSS CDN --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {{!-- Font Awesome CDN --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {{!-- Google Font - LATO --}}
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  {{!-- Custom Stylesheets: --}}

  {{!-- Login Style (index.css) --}}
  <link rel="stylesheet" href="/styles/index.css" media="screen" charset="utf-8">

  {{!-- Admin Style (admin.css) --}}
  <link rel="stylesheet" href="/styles/admin.css" media="screen" charset="utf-8">

  {{!-- GLOBAL CSS --}}
  <link rel="stylesheet" href="/styles/global.css" media="screen" charset="utf-8">

  {{!-- Document Title --}}
  <title>Get It Together | PTO Management</title>
</head>

<body>
  {{{body}}}

  {{!-- jQuery CDN --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {{!-- Popper CDN --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  {{!-- Bootstrap CDN --}}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     
    <script type="text/javascript" src="/js/index.js"></script>'


  </body>
</html>