{{!-- Site Create Account Container [Start] --}}
<div class="container text-center container-middle">
  {{!-- Site Create Account 'App Name' Col --}}
  <div class="col-md-12">
    {{!-- Site Create Account 'App Name' --}}
    <h1 class="display-5 ml-3">Get It <strong class="text-danger">Together.</strong></h1>
    {{!-- Site 'App Name' Description --}}
    <label class="text-center text-muted-dark">Create Your Account.</label>
    {{!-- Site 'Create Account Form' --}}
    <div id="cardLoginLength" class="card shadow-sm p-3 offset-3 bg-white rounded">
      {{!-- Site 'Create Account Form' Card Body --}}
      <div class="card-body p-0 m-0">
        {{!-- Site 'Create Account Form' Form Content --}}
        <form>
          {{!-- Site 'Create Account Form' group 'New Member Address Field' --}}
          <div class="form-group input-group">
            {{!-- Site 'Create Account Form' prepended 'Person Fa Icon' --}}
            <div class="input-group-prepend">
              <div class="input-group-text bg-dark text-white"><i class="fa fa-user" aria-hidden="true"></i></div>
            </div>
            {{!-- Site 'Create Account Form' 'New Member Input Field' --}}
            <input type="text" class="form-control" name="fNewMember" id="fNewMember" placeholder="bob McBobface">
          </div>
          <div class="form-group input-group">
            {{!-- Site 'Create Account Form' prepended 'Email Fa Icon' --}}
            <div class="input-group-prepend">
              <div class="input-group-text bg-dark text-white"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            </div>
            {{!-- Site 'Create Account Form' 'Email Input Field' --}}
            <input type="text" class="form-control" name="username" id="username" placeholder="bob@bob.com">
          </div>
          {{!-- Site 'Create Account Form' group 'Password Field' --}}
          <div class="form-group input-group">
            {{!-- Site 'Create Account Form' prepended 'Password Fa Icon' --}}
            <div class="input-group-prepend">
              <div class="input-group-text bg-dark text-white"><i class="fa fa-key" aria-hidden="true"></i></div>
            </div>
            {{!-- Site 'Create Account Form' 'Password Input Field' --}}
            <input type="password" class="form-control" name="password" id="password" placeholder="***************">
          </div>
        </form>
      </div>
      {{!-- Create Account Link + LogIn Button --}}
      <div class="row text-center">
        <div class="col-md-6">
          {{!-- Create New Account --}}
          <p class="lead">Have an account? <a href="/">Login</a></p>
        </div>
        <div class="col-md">
          {{!-- Create New Account --}}
          <button class="btn btn-orange col-md-7" href="/login" id="newAccount" type="submit">Create Account</a>
        </div>
        <p id="alert"</p>
      </div>
    </div>
    {{!-- Site 'Footer' Copyright --}}
    <div class="row mt-5">
      {{!-- Site 'Footer' App Developers --}}
      <div class="col-md-12">
        Shawn, Connie, and A.J
        <br>
        {{!-- &reg; = HTML ASCII Entity For '®'  --}}
        &reg; All Rights Reserved.
      </div>
    </div>
  </div>
</div>
{{!-- / Site App Create Account Container [End] --}}

{{!-- jQuery CDN --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{{!-- CRUD Form Operations ---> 'NOT YET SETUP' --}}
<script src="../public/js/index.js"></script>