{{!-- Site Login Container [Start] --}}
<div class="container text-center container-middle">
  {{!-- Site Login 'App Name' Col --}}
  <div class="col-md-12">
    {{!-- Site Login 'App Name' --}}
    <h1 class="display-5 ml-3">Get It <strong class="text-danger">Together.</strong></h1>
    {{!-- Site 'App Name' Description --}}
    <label class="text-center text-muted-dark">Managing Your Team's PTO</label>
    {{!-- Site 'Login Form' --}}
    <div id="cardLoginLength" class="card shadow-sm p-3 offset-3 bg-white rounded">
      {{!-- Site 'Login Form' Card Body --}}
      <div class="card-body p-0 m-0">
        {{!-- Site 'Login Form' Form Content -------------------------}}
        <form id="loginForm">
          {{!-- Site 'Login Form' group 'Email Address Field' --}}
          <div class="form-group input-group">
            {{!-- Site 'Login Form' prepended 'Email Fa Icon' --}}
            <div class="input-group-prepend">
              <div class="input-group-text bg-dark text-white"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            </div>
            {{!-- Site 'Login Form' 'Email Input Field' --}}
            <input type="text" class="form-control" name="username" id="username" placeholder="bob@bob.com">
          </div>
          {{!-- Site 'Login Form' group 'Password Field' --}}
          <div class="form-group input-group">
            {{!-- Site 'Login Form' prepended 'Password Fa Icon' --}}
            <div class="input-group-prepend">
              <div class="input-group-text bg-dark text-white"><i class="fa fa-key" aria-hidden="true"></i></div>
            </div>
            {{!-- Site 'Login Form' 'Password Input Field' --}}
            <input type="password" autocomplete="off" class="form-control" name="password" id="password" placeholder="***************">
          </div>
        </form>
      </div>
      {{!-- Create Account Button + Login Route --}}
      <div class="row text-center">
        <div class="col-md-6">
          {{!-- Create New Account --}}
          <a class="btn btn-none text-primary" href="/create">Create New Account</a>
        </div>
        <div class="col-md">
          {{!-- Login --}}
          <input class="btn btn-orange col-md-7" href="/admin" id="login" type="submit" value="Log In" />
        </div>
      </div>
    </div>
    {{!-- Site 'Footer' Copyright --}}
    <div class="row mt-5">
      {{!-- Site 'Footer' App Developers --}}
      <div class="col-md-12">
        Shawn, Connie, and A.J
        <br>
        {{!-- &reg; = HTML ASCII Entity For '®'  --}}
        &reg; All Rights Reserved.
      </div>
    </div>
  </div>
</div>
{{!-- / Site App Login Container [End] --}}

{{!-- jQuery CDN --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{{!-- CRUD Form Operations ---> 'NOT YET SETUP' --}}
<script type="text/javascript" src="../js/index.js"></script> 